/* .footer
{
  /* background-color: transparent; */
  /* text-align: center; */
  /* height: 4vmin; */
/* } */ */

.footer {
    border-top: 1px solid;
    /* clear: both; */
    /* font-size: 16px; */
    background-color : black;
    position: relative;
    z-index: 100;
    /* box-shadow: 0 1000px 0 1000px #fff; */
    text-align: left;
    /* color: black; */

}

.footer-wrap
{
  display: grid;
  background-color :transparent;
  width:100%;
}

.footer-center {
  /* display: inline-block; */
  display:inline;
  text-align: left;
  justify-content: center;
  font-size: medium;
}

.bottom-bar
{
  text-align: center;
  font-weight: bold;
}
      
.link
{
  color:black;
}