.body
{
  padding-top: 6vmin;
  background-color: white;
  padding-bottom: 8vmin;
}

.title_bar
{
  background-color: white ;
  padding-top: 1vmin; 
  padding-bottom: 1vmin;
  position: 'fixed';
  z-index: 1;
  width: '100%';
  height: 100%;

}


.title
{
  width:80%;
  height: 6vmin;
  background-color: #d8ab4e;
  float: left;
  font-size: x-large;
}


.navbar
{
  background-color: transparent;
  border: none;
  font-size: large;
  /* height: 20vmin; */
  text-align: right;
  /* float: right; */
}



.search_word
{
  float: right;
}


.search_text
{
  border: solid gray;
  float: left;
}

.index
{
  position: relative;
  margin-top: 8vmin;
  width:80%;
  margin-left: 10%;
  color : #12aad4;

}

.day
{
  border: none;
  margin-top: 2vmin;
  margin-left: 14vmin;
}

.new_card
{
  width:60%;
  margin-right: 20%;
  margin-left: 20%;
}

.search_style
{
  border : 0px 0px 0px 1px;  
  font-size: large;
  width:100%;
  /* background-color: transparent; */
}


.select_style
{
    float: right;
    font-size: medium;

}

.trending
{
  /* text-align: center; */
  width: 100%;
}

.social_btn
{
  width: 18vmin;
  color: white;
}


.login-form {
  align-self: center;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}