* {
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont";
}
.page {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.15em;
}

.cover {
    background-color: white;
    width: 70%;
    height: 50%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    width: 80%;
    height: 3em;
    border-radius: 0.9em;
    text-align: center;
    padding: 1em;
    font-size: 0.75em;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.login-btn {
    width: 40%;
    height: 2em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.9em;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

.text {
    position: relative;
    bottom: 0.5%;
}

.hide {
    position: absolute;
    transform: scale(0);
}

@media only screen and (min-device-width: 37em) {
    .page {
        font-size: 1em;
    }

    .cover {
        width: 60%;
        height: 70%;
    }
}

@media only screen and (min-device-width: 64em) {
    .page {
        font-size: 1.25em;
    }

    .cover {
        width: 25%;
        height: 65%;
    }
}
