.letter_div
{
  /* margin-top: 3vmin; */
  text-align: center;
  /* background-color:black; */
}


.word_card
{
  /* width:80%; */
  /* margin-left:10%; */
  /* padding:0px; */
  
}

.word_index
{
  /* width:50%; */
  /* margin-left:10%; */
  /* padding:0px; */
  /* margin-top:4%; */
  
}


.word_title
{
 color: #639bb4;
 filter: contrast(100%);

}


.language_span
{
  font-weight: bold;
  background-color: #e7ca52;
  padding: 4px;
}

.type_span
{
  font-weight: bold;
  background-color: #7dbf94;
  padding: 4px;
  
}

